::-moz-selection {color: #fff; background: #23a74f; text-shadow: none;}
::selection {color: #fff; background: #23a74f; text-shadow: none;}
.btThemeLight {background: url('light_icon.svg');}
body {
	background: #1f2832 url('sea.jpg') no-repeat center 0;
	color: #8dbdf5;
}
h1, h2, h3, .accroche, .accroche1, nav {color: #fff;}
h1 {
	mix-blend-mode: color-dodge;
	background: #163d48;
	border-color: #7c7d7e;
	color: #fff;
}
a {color: #a7c3cc;}
a:hover {color: #fff;}
hr {background: url('dark_hr.svg') no-repeat center !important;}
.accroche {color: #fff;}
.accroche1 {color: #fff;}
.postTitle {color: #eee;}
.postInfos {color: #b8d1d4;}
.postInfos a {
	color: #000;
	background: #b8d1d4;
}
.postInfos a:hover {
	background: #fff;
}
a.video {background: url('dark_videoLink.svg') no-repeat right;}
a.external {background: url('dark_externalLink.svg') no-repeat right;}

/* Page onlyPost */
.onlyPost .postTitle {color: #fff;}
blockquote {
	border-left: 2px solid #eee;
	color: #eee;
}
.parenthetical {color: #888;}

/* NAVIGATION = menu déroulant horizontal */
/* (d'ici jusqu'à la fin du fichier CSS)  */
nav li:hover .submenu {
	background: #000;
	box-shadow: 0 0 15px #333;
}
.menu {color: #ddd;}
.menu:hover {
	background: #000;
	box-shadow: 0 0 15px #333;
}
.comments p {
	background: #566F95;
	color: #030303;
}
